_pycache_/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.venv
.idea
Thumbs.db
desktop.ini
.DS_Store
.AppleDouble
.LSOverride

bias_field_correction_samples/*.*
test_dataset
try_directory
03_Arrays/importing_nifti_get_array_testing_with_matte.py